section#realTime
  .page-header
    h1 
      i.icon-leaf
      实时数据
      // .alert.alert-info
  .container
    .alert.alert-error
      strong 点击<a href="/tableShow">这里</a>以表格的形式查看所有数据
  .container.hide#noDataAlert
    .alert.alert-error
      strong 很抱歉，今天暂时还没接收到数据。无法展示，请稍候。
  .displayArea#rtDisplayArea
    each sensors, nodeId in nodes
      section(nodeId='#{nodeId}', senseCode='#{sensors}')
        h2 节点号：#{nodeId}
        // 创建图表绘制区域
        each sensor in sensors
          div(id='rt_' + '#{nodeId}' + '_' + '#{sensor}')
      // #container(style="min-width: 400px; height: 400px; margin: 0 auto")
  #chart_div

// include google_chart.html
// script
//   var browser = navigator.appVersion;
//   var killIE = browser.slice(0,1);
//   // alert(killIE);
//   var $rtDisplayArea = $('#rtDisplayArea');
//   if(killIE > 4) {
//     // $('#noDataAlert').find('strong').html('点击<a href="/tableShow">这里</a>以表格的形式查看所有数据').end().removeClass("hide");
//     // 根据初始化的信息(section中)建立绘制图表的区域
//     $rtDisplayArea.children().each(function(index, element) {
//       var elt = $(element)
//         , senseCodes = elt.attr('senseCode').split(',')
//         // , senses = codeToString(senseCode)
//         , nodeId = elt.attr('nodeId');
//       // console.log(senses);
//       for(var i in senseCodes) {
//         var container = '<div id=rt' + '_' + nodeId + '_' + codeToString(senseCodes[i])[0] + '/>';  
//         elt.append(container);
//       }
//     });
//   } else {                      //the IE7.0 IE8.0
//     // var elt = document.getElementById('#rtDisplayArea')
//     // console.log($rtDisplayArea.children().length);
//     // $rtDisplayArea.append("This is IE");
//     $('#noDataAlert').find('strong').html('请改用IE9.0+,Chrome或者Firefox等现代浏览器以获得最佳体验。你可以点击<a href="/tableShow">这里</a>以表格的形式查看所有数据').end().removeClass("hide");
//     // $('#noDataAlert').children().children().html("Hello")
//     // .end().removeClass("hide");
//     var length = $rtDisplayArea.find('section').length;
//     // alert(length);
//     $rtDisplayArea.find('h2').remove();    //先清除原先标点
//     $rtDisplayArea.find('section').each(function(index, element) {
//       var elt = $(element)
//         , senseCodes = elt.attr('senseCode').split(',')
//         , nodeId = elt.attr('nodeId');
//         var title = '<h2>节点号：' + nodeId + '</h2>';
//         $rtDisplayArea.append(title);
//         for(var i in senseCodes) {
//           var container = '<div id=rt' + '_' + nodeId + '_' + senseCodes[i] + '/>';  
//           $rtDisplayArea.append(container);
//       }
//     });
//   }